extends layout

block content
  div(class="page-header")
      h1= title
      a(type="button",class="btn btn-default",href="/photos/upload")添加
  div(class="row")
      table(id='photos', cellpadding="0", cellspacing="0", border="0", class="table table-striped table-bordered table-hover")
          thear
              tr
                  th
          tfoot
              tr
                  th
          tbody
  
  script(src="/javascripts/photosAdmin.js")       