extends layout

block content
    h3 选择一个文件上传
        form(enctype="multipart/form-data" method="post" )#imagelist
            input(type="text" name="name")
            input(type="file" name="image")
            input(type="button" value="上传文件" onclick="Req_ajax()")

    p#status
    p#preview

    script(src="/javascripts/upload.js")
