<div class="modal-header" style="padding-bottom:0px;">
	<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
   	 <h4 class="modal-title" id="myModalLabel">上传</h4>
  </div>
  <div class="modal-body">
  <form enctype="multipart/form-data" method="post" class="bs-example-form" id="imagelist">	
  	    <div class="input-group">
	      <span class="input-group-addon">姓名</span>
	      <input type="text" name="name" class="form-control" required>
	    </div>
	    <div class="input-group">
	      <span class="input-group-addon">性别</span>
	      <input type="text" name="sex" class="form-control" required>
	    </div>
	    <div class="input-group">
	      <span class="input-group-addon">年龄</span>
	      <input type="text" name="age" class="form-control" required>
	    </div>
	    <div class="input-group">
	      <span class="input-group-addon">照片</span>
	      <input type="file" name="image" class="form-control" required>
	    </div>
  	<input type="button" value="上传文件" onclick="Req_ajax()">
  	<p id="status"></p>
  	<p id="preview"></p>
  </form>
  </div>
  <div class="modal-footer">
   
  </div>
<script src="/javascripts/photos/upload.js"></script>